.white-text{
    color: white;
}
.max-img{
    width: 100%;
}
.sm-txt{
    font-size: 0.75rem;
}
.xs-txt{
    font-size: 0.65rem;
}

.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}

.main-font{
    font-family: 'mainFont';
}
.table-cell{
    display: table-cell;
}

.blue-txt{
    color: rgb(44,150,193);
}

th{
    width: 6rem;
}